<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a
      class="sidebar-brand d-flex align-items-center justify-content-center nav-link"
      href="/"
    >
      <div class="sidebar-brand-icon ">
        <img class="rounded-circle" src="https://i.pinimg.com/564x/ce/c9/77/cec9777d4757a44c29e576fce7a006bb.jpg" width="35" height="35" />
      </div>
      <div class="sidebar-brand-text mx-3 fw-bold text-black nav-link">Admin</div>
    </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="nav-link " href="/" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                <span class="hide-menu">Người dùng</span>
              </a>
            </li>
           
            <li class="sidebar-item">
              <a class="nav-link bg-primary
text-white rounded" href="/getAllReport" aria-expanded="false">
                <span>
                  <i class="ti ti-article"></i>
                </span>
                <span class="hide-menu">Báo cáo sự cố</span>
              </a>
            </li>
            
          </ul>
          
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
         
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <span class="ml-2 d-none d-lg-inline text-black small fst-italic">Nhân viên hành chính - Admin</span>
              <li class="nav-item dropdown">
                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="https://i.pinimg.com/564x/ce/c9/77/cec9777d4757a44c29e576fce7a006bb.jpg" alt="" width="35" height="35" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body">
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-user fs-6"></i>
                      <p class="mb-0 fs-3">My Profile</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-mail fs-6"></i>
                      <p class="mb-0 fs-3">My Account</p>
                    </a>
                    <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                      <i class="ti ti-list-check fs-6"></i>
                      <p class="mb-0 fs-3">My Task</p>
                    </a>
                    <a href="/logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <!--  Row 1 -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800">Danh sách sự cố {{text}}</h1>
        </div>

        <div class="row">
            <!-- Datatables -->
            <div class="row">
          
          <div class=" d-flex align-items-stretch  justify-content-between">
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="d-flex flex-row align-items-center">
                  <form class="d-flex flex-row  widthForm " method="post" action="/getReportByRequest">

                    <select name="annunciator" class="form-group g form-select" aria-label="Default select example">
                      <option value="" selected>Người báo cáo</option>
                      {{#each user}}
                      <option value="{{this._id}}">{{this.userName}}</option>
                      {{/each}}
                    </select>

                    <select name="reportRecipient" class="form-group g form-select" aria-label="Default select example">
                      <option value="" selected>Người tiếp nhận</option>
                      {{#each admin}}
                      <option value="{{this._id}}">{{this.userName}}</option>
                      {{/each}}
                    </select>
                   
                    <select name="complete" class="form-group g form-select" aria-label="Default select example">
                      <option value="" selected>Trạng thái</option>
                      <option value="0">Chưa tiếp nhận</option>
                      <option value="2">Đã tiếp nhận</option>
                      <option value="1">Đã hoàn thành</option>
                    </select>

                  <div class="form-group">
                    <button
                      type="submit"
                      class="btn btn-primary btn-block"
                    > Tìm </button>
                  </div>
                  

                </form>

                 <div class="btn-group float-end ms-auto p-2">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Những ngày trước
                    </button>
                    <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="/getAllReport">Tất cả</a></li>
                      <li><a class="dropdown-item" href="/getReportByDate/3">3 ngày trước</a></li>
                      <li><a class="dropdown-item" href="/getReportByDate/7">7 ngày trước</a></li>
                      <li><a class="dropdown-item" href="/getReportByDate/30">30 ngày trước</a></li>  
                      <li><a class="dropdown-item" href="/getReportByDate/30">60 ngày trước</a></li>  
                    </ul>
                </div></div>
                 
                <h5 class="card-title fw-semibold mb-4"></h5>
                
                <div class="table-responsive">
                  
                  <table class="table text-wrap mb-0 align-middle d">
                    <thead class="text-dark fs-4">
                      <tr>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0 ">Người báo cáo</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Phòng</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Loại sự cố</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Ngày báo cáo</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Trạng thái</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Người tiếp nhận</h6>
                        </th>
                        <th class="border-bottom-0">
                          <h6 class="fw-semibold mb-0">Hàng động</h6>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      
                      {{#each report}}
                      <tr>
                        <td class="border-bottom-0"><p class=" mb-0">{{this.annunciator.userName}}</p></td>
                        <td class="border-bottom-0">
                            <p class=" mb-1">{{this.room}}</p>
                                                    
                        </td>
                        <td class="border-bottom-0">
                          <p class=" mb-1">{{this.reportType}}</p>
                          
                        </td>
                        <td class="border-bottom-0">
                          <p class=" mb-1">{{this.status1.date}}</p>
                          
                        </td>
                        <td class="border-bottom-0 text-nowrap">
                          {{#if this.status3.status}}
                          <p class=" mb-1 text-primary">Hoàn thành</p>
                          {{else if this.status2.status}}
                          <p class=" mb-1 text-danger-emphasis">Đã tiếp nhận</p>
                          {{else if this.status1.status}}
                          <p class=" mb-1">Chưa tiếp nhận</p>
                          {{/if}}
                        </td>
                        <td class="border-bottom-0">
                          <p class=" mb-1 ">{{this.reportRecipient.userName}}</p>
                        </td>
                        <td>
                          <a href="/getReport/{{this._id}}" class="btn btn-primary textsize text-nowrap border">Xem chi tiết</a>
                        </td> 
                      </tr> 
                         {{/each}}                   
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
    </div>
  </div>